.mainContainer {
  display: flex;
  justify-content: center;
}

.calculatorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 640px;
}

.screen-container {
  border: 1px solid black;
  width: inherit;
  height: 40px;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  width: inherit;
  gap: 20px;
}